@font-face {
  font-family: bender;
  src: url('fonts/bender.otf');
}

@font-face {
  font-family: bender;
  src: url('fonts/bender_bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: bender;
  src: url('fonts/bender_light.otf');
  font-weight: lighter;
}

.background {
  background-image: url('img/mapselection.png');
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.map_img {
  max-width: 100%;
  max-height: 100%;
}

.button-map {
  position: fixed;
  border: none;
  color: white;
  opacity: 0%;
  font-size: 16px;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
}

.button-back {
  padding-top: .2em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .2em;
  margin-left: .5em;
  margin-top: .5em;
  max-width: 2.1em;
  border: 1px lightgray;
  background-color: white;
  opacity: 50%;
  font-family: bender;
  font-size: 1.5em;
  cursor: pointer;
  visibility: hidden;
}

#button-lab {
  left: 39em;
  top: 12.7em;
  width: 9.3em;
  height: 2.1em;
}

#button-interchange {
  left: 55.9em;
  top: 20.5em;
  width: 10.8em;
  height: 2.1em;
}

#button-customs {
  left: 52.3em;
  top: 24.7em;
  width: 7.6em;
  height: 2.1em;
}

#button-factory {
  left: 42.5em;
  top: 30.6em;
  width: 7em;
  height: 2.1em;
}

#button-woods {
  left: 37.8em;
  top: 23.3em;
  width: 6em;
  height: 2.1em;
}

#button-reserve {
  left: 31em;
  top: 35.85em;
  width: 7em;
  height: 2.1em;
}

#button-lighthouse {
  left: 29.65em;
  top: 43.9em;
  width: 9.6em;
  height: 2.1em;
}

#button-shoreline {
  left: 36.8em;
  top: 50.2em;
  width: 8.7em;
  height: 2.1em;
}
