@font-face {
  font-family: bender;
  src: url('fonts/bender.otf');
}

@font-face {
  font-family: bender;
  src: url('fonts/bender_bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: bender;
  src: url('fonts/bender_light.otf');
  font-weight: lighter;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('img/mapselection.png');
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.map_img {
  max-width: 100%;
  max-height: 100%;
}

.button-map {
  position: fixed;
  border: none;
  color: white;
  opacity: 0%;
  font-size: 16px;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
}

.button-back {
  position: absolute;
  top: .8em;
  left: 3em;
  padding: 10px;
  z-index: 400;
  border: 1px solid black;
  background-color: white;
  opacity: 50%;
  font-family: bender;
  font-size: 1.5em;
  cursor: pointer;
}

#lab {
  left: 39em;
  top: 12.7em;
  width: 9.3em;
  height: 2.1em;
}

#interchange {
  left: 55.9em;
  top: 20.5em;
  width: 10.8em;
  height: 2.1em;
}

#customs {
  left: 52.3em;
  top: 24.7em;
  width: 7.6em;
  height: 2.1em;
}

#factory {
  left: 42.5em;
  top: 30.6em;
  width: 7em;
  height: 2.1em;
}

#woods {
  left: 37.8em;
  top: 23.3em;
  width: 6em;
  height: 2.1em;
}

#reserve {
  left: 31em;
  top: 35.85em;
  width: 7em;
  height: 2.1em;
}

#lighthouse {
  left: 29.65em;
  top: 43.9em;
  width: 9.6em;
  height: 2.1em;
}

#shoreline {
  left: 36.8em;
  top: 50.2em;
  width: 8.7em;
  height: 2.1em;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
